
body{
	background-color:cyan;
	width:auto;
	height: auto;
}

.container{
  	width: 300px;
  	border:10px;
  	background-color: orange;
  	text-align:center;
  	color: white;
	padding-top: 5px;
  	padding-bottom:5px;   
  	padding-left: 25px;	
  	padding-right: 25px;
  }

.container2 {
	color:green;
	margin-top: 10px;
	background-color: #FAEBD7;
	height: 350px;
	width: 300px;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
}

.container3{
	color:black;
	background-color: #A1D490;
	width:300px;
	height: 255px;
	display: inline-block;
	margin-top:15px;
}
.container4{
	background-color:#008080;
	color:black;
	height:100px;
	width:200px;
	margin-bottom: 15px;
	 }

.container5{
	background-color: #008080;
	color:#FFFFFF;
	height:100px;
	width:200px;
	margin-bottom: 15px;
}
.container6{
	background-color: #008080;
	color:#FFFFFF;
    height:30px;
	width:200px;
}